@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
  background-image: url("assets/bg.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.page {
  margin: auto;
  width: 70%;
  background-color: rgb(153, 189, 255);
  border-width: 5px;
  border-style: solid;
  border-color: rgb(7, 156, 255);
  border-radius: 5px;
}

.spacer {
  height: 30px;
}

.title h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.intro p {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px;
  font-style: normal; font-variant: normal; font-weight: 400;
  line-height: 23px;
  height: 25px;
}

main {
  display: flex;
}

main ol li {
  margin-left: 15px;
}

.contact p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px;
  font-style: normal; font-variant: normal; font-weight: 400;
  line-height: 23px;
  height: 25px;
  margin-left: 50px;
  width: 600px;
  text-align: center;
  padding-top: 10px;
}

.contact table {
  margin-left: 50px;
  margin-bottom: 15px;
  border: rgb(7, 156, 255);
  border-width: 3px;
  border-style: solid;
  width: 600px;
  table-layout: fixed;
  
}

.contact table td,th {
  border: rgb(7, 156, 255);
  border-width: 3px;
  border-style: solid;
  height: 60px;
}

.contact table th {
  height: 30px;
}