@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
  background-image: url("./bg.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.page {
  margin: auto;
  width: 70%;
  background-color: rgb(153, 189, 255);
}

.spacer {
  height: 40px;
}

.title h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.intro p {
  text-align: center;
}

main ol li {

}

.contact {

}