@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
  background-image: url("assets/bg.gif");
  background-repeat: repeat-y;
  background-size: contain;
}

.page {
  margin: auto;
  width: 70%;
  background-color: rgb(153, 189, 255);
  border-width: 5px;
  border-style: solid;
  border-color: rgb(7, 156, 255);
  border-radius: 5px;
}

code {
  background-color: rgb(172, 172, 172);
  padding: 2px 2px 2px 2px;
  border-radius: 6px;
}

.spacer {
  height: 30px;
}

.title h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.intro p {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px;
  font-style: normal; font-variant: normal; font-weight: 400;
  line-height: 25px;
  height: 25px;
}

main ol li {
  padding-left: 15px;
  /* padding-top: 50px; */
  display: flex;
  justify-content: space-between;
}

.tlinedesc {
  height: 250px;
  width: 500px;
  line-height: 1.5rem;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1rem;
}

.tlineimg {
  width: 500px;
}

.year {
  position: absolute;
  padding-top: 4.5rem;
  padding-left: 2rem;
  font-size: 4rem;
  color: rgb(122, 122, 122);
  text-shadow: revert;
}

.tline {
  background-color: rgb(88, 88, 88);
  width: 2vw;
}

.timg {
  position: absolute;
  height: 200px;
  padding-top: 36px;
  padding-left: 1.75vw;
}

.contact {
  margin: auto;
  width: 50%;
}

.contact p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px;
  font-style: normal; font-variant: normal; font-weight: 400;
  line-height: 23px;
  height: 25px;
  margin-left: 50px;
  width: 600px;
  text-align: center;
  padding-top: 10px;
}

.contact table {
  margin-left: 50px;
  margin-bottom: 15px;
  border: rgb(7, 156, 255);
  border-width: 3px;
  border-style: solid;
  width: 600px;
  table-layout: fixed;
  
}

.contact table td,th {
  border: rgb(7, 156, 255);
  border-width: 3px;
  border-style: solid;
  height: 60px;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px;
}

.contact table th {
  height: 30px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px;
}
